.bracket {
    color: #b7a634;
}

.green {
    color: #608e61;
}

body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal;
    background-color: #333333;
    color: #c5c5c5;
}